# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/
dataset/
*.h5
*.hdf5

# Model files
*.pth
*.pt
*.onnx
saved_models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Kaggle
.kaggle/
